.message {
  display: flex;
  justify-content: center ;
  align-items: center;
  text-align: center;
  padding: .5rem 2rem;
  max-width: 95%;
  border: solid black 1px;
  margin: .5rem auto;
  background-color: #C3D8CDAF;
  border-radius: 3px;

  
}

h2 {
  color: #333;
}


.row {
  row-gap: .5rem;
}

.col-sm-8 {
  background-color: #8bb9a1;
  color: #333;
}


.col-sm-4 {
  background-color: #04724D;
  color: #fff;
}

.accordion-body {
  color:#333;
  background-color: #fff;
  
  margin-top: 5px;
  
}

.accordion-button {
  background-color:#8bb9a1 !important;
}
.accordion-button:not(.collapsed) {
  color: #333 !important;
  border-color: #333 !important;


}

.accordion-button,.collapsed {
  color: #333 !important;
  border-color: #333 !important;
}





@media (max-width: 576px) {
  .message {
    display: flex;
    max-width: 100%;
  }

  }
